# Tuist
Derived/
*.xcodeproj
*.xcworkspace

# Xcode
xcuserdata/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
Package.resolved
.package.resolved
.build/

# macOS
.DS_Store

# Build artifacts
bin/
